<!-- permite eredar las caracteristicas del alyout, hay que cerrarlo al final -->
{% extends 'layout.html' %}
{% block body%}

<div class="row">
    <div class="col-md-5">
        <div class="carc card-body">

                        <!-- el choclo de llaves son comandos de jinja -->
            <!-- es necesaria la secret key en el app  -->
            <!-- es para que envie el mensaje flash, se almacena dentro de la variable mensajes -->
            {% with mesages = get_flashed_messages(with_categories=true) %}
            <!-- si existen mensajes -->
            {% if mesages %}
            <!-- hace falta aclarar la categoria -->
            {% for category,  mesage in mesages %}
            
            {% if category  == 'error' %}
            <div class="alert alert-danger" role="alertdialog">
                <h4 class="alert-heading {{error}} ">{{mesage}} </h4>
                    
            </div>
            {% else %}
            <div class="alert alert-success" role="alertdialog">
                <h4 class="alert-heading  ">{{mesage}} </h4>
                    
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}



            <form action="add_contact" method="POST">
                 <div class="form-group">
                    <input type="text" name="fullname" placeholder="fullname" id="" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="phone" placeholder="phone" id="" class="form-control">
                </div>
               
                <div class="form-group">
                    <input type="text" name="email" placeholder="email" id="" class="form-control">
                </div>
          
                <div class="form-group">
                    <button type="submit" class="btn form-control btn-primary btn-block"> Save</button>
                </div>
                
            </form>
        </div>
    </div>

    <div class="col-md-6">
        <table class="table table-striped bg-white table-sm">
            <thead>
                <tr>
                    <td>fullname</td>
                    <td>phone</td>
                    <td>correo</td>
                    <td>operations</td>
                </tr>
            </thead>
            <tbody class="">
                
                {% for contact in contacts%}
                <tr>
                    <!-- con un solo corchete no devuelve el valor dice contact.1 -->
                    <td>{{contact.1}}</td>
                    <td>{{contact.2 }}</td>
                    <td>{{contact.3}}</td>
                    <td>
                        <a href="/edit/{{contact.0}}" class="btn btn-secondary">Edit</a>
                        <a href="/delete/{{contact.0}}" class="btn btn-danger"> Delete</a>
                    </td>
                </tr>
                {% endfor %}
        
            
            </tbody>
        </table>
    </div>

</div>
<a href="salir">Salir</a>



{% endblock%}