{% extends 'layout.html' %}
{% block body %}

             {% with mesages = get_flashed_messages(with_categories=true) %}
             
            <!-- si existen mensajes -->
            {% if mesages %}
            {% for category, mesage in mesages %}
                
            {% if category  == 'error' %}
            <div class="alert alert-danger" role="alertdialog">
                <h4 class="alert-heading {{error}} ">{{mesage}} </h4>
                    
            </div>
            {% else %}
            <div class="alert alert-success" role="alertdialog">
                <h4 class="alert-heading  ">{{mesage}} </h4>
                    
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}

    <h1>LOgin</h1>
    <form action="info" method='POST'>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Example label</label>
        <input type="text" name="name" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Another label</label>
        <input type="text" name="password" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
      </div>
      <button type="submit" class="btn btn-primary">Primary</button>
    </form>
    <br>
    <a href="/register">Create acount</a>
    
    
{% endblock%}